<%= image_tag post.image(:medium) if post.image? %>

<h2><%= link_to highlight(post.title, @query), post_path(post)%></h2>

<p>
	<%= post.body%>
</p>

<div class = "author">
by: <%= link_to post.user.username, user_path(post.user) if post.user %>
</div>

<div class = "category">
category: 
<%= link_to post.category.title, 
	category_path(post.category) if post.category.present? 
		%>
</div>

<div class = "tag">
tags: 
	<% post.tags.each do |t| %>
			<%= link_to t.name, root_path(tag: t.name) %>
	<% end %>
</div>

<div class = "liked">
<%= pluralize post.likes.size, "like" %>
</div>

<div class = "posted_at">
Posted at <%= post.created_at %>
</div>

<% if post.is_featured? %>
	<p>featured post</p>
<% end %>